</div>
</main>
    <footer>
        <span>Copyright © <%= new Date().getFullYear() %></span>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        
    </footer>
</body>
</html>