<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTripz</title>
    <link rel="stylesheet" href="styles/head.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tirhuta&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="name">DTripz</h1>
            <div class="links">
                <a href="/">View Blog</a> 
                <a href="/create">Create Blog</a> 
                <a href="/edit">Edit Blog</a> 
                <a href="/delete">Delete Blog</a> 
                <a href="/getWeather">Get Weather</a>
            </div>
        </div>
    </header>
    <main>
        <div class="main">